html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    ::selection {
        background-color: #ff5050;
    }
}
body {
    color: #ccc;
    background-color: #282828;
    font-family: monospace;
}

a {
    color: #ff5050;
}

.green {
    color: mix(#50ff50, #ccc, 70%);
}
.red {
    color: mix(#ff5050, #ccc, 70%);
}

.detail {
    &--body {
        color: #aaaaaa;
        font-style: italic;
        font-size: 0.875rem;
        text-align: right;
        padding: 0.25rem 0.75rem;
    }
}
