body {
    color: #ccc;
    background-color: #282828;
    font-family: monospace;
}

a {
    color: #ff5050;
}

.green {
    color: mix(#50ff50, #ccc, 70%);
}
.red {
    color: mix(#ff5050, #ccc, 70%);
}
